{% extends './layout.html' %}

{% block head %}
    <style>
        div {width:300px;}
    </style>
{% endblock %}

{% block content %}
    <div class="form-group">
        <label for="month">Month: </label>
        <select id="month" class="form-control" >
          <option>1</option><option>2</option><option>3</option><option>4</option><option>5</option><option>6</option><option>7</option><option>8</option><option>9</option><option>10</option><option>11</option><option>12</option>
        </select>
    </div>
    <div class="form-group">
        <label for="year">Year: </label>
        <select id="year" class="form-control">
            <option>2016</option><option>2017</option><option>2018</option>
        </select>
    </div>
    <button type="button" class="btn btn-primary" id="bt-chart">Show chart</button>
    <h3>Switches</h3>
    <canvas id="actionsChart" width="600" height="600"></canvas>
    <canvas id="usageChart" width="600" height="600"></canvas>
{% endblock %}

{% block foot %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>
    <script>
        var dateURL = "?m=" + $('#month').val() + "&y=" + $('#year').val();
        function showcharts(){
            //Show nrs of on/off actions
            var ctxActions = document.getElementById("actionsChart").getContext("2d");
            //get ajax data and show chart
            $.get("/report/switch/actions" + dateURL, function (data) {
                // Get the context of the canvas element we want to select
                var actionsChart = new Chart(ctxActions).Pie(data);
            });
            //Show on/off time
            //Show nrs of on/off actions
            var ctxUsage = document.getElementById("usageChart").getContext("2d");
            //get ajax data and show chart
            $.get("/report/switch/usage" + dateURL, function (data) {
                // Get the context of the canvas element we want to select
                var actionsChart = new Chart(ctxActions).Line(data);
            });
        }
        setInterval(3000, showcharts);
        $("#bt-chart").click(showcharts);

    </script>
{% endblock %}
