.flag {
    display: inline-block;
    width: 32px;
    height: 32px;
    background: url('../images/flags.png') no-repeat;
    margin-right: 20px;
}


.flag.flag-gb {
    background-position: 0 0;
}

.flag.flag-hr {
    background-position: -32px 0;
}

.active_flag{
	-ms-transform: scale(1.5, 1.5); /* IE 9 */
    -webkit-transform: scale(1.5, 1.5); /* Safari */
    transform: scale(1.5, 1.5);
}

.flag:hover{
	opacity: 0.5;
    filter: alpha(opacity=50);
}