@font-face {
    font-family: d14seg;
    src: url(DSEG14Classic-Regular.woff);
}

@font-face {
    font-family: d7seg;
    src: url(DSEG7Classic-Regular.woff);
}

 body{
     padding-top:5px;
}

.title{
    padding:5px 15px;
    text-align:center;
}

canvas{
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
    }

.room{
    /*border: 1px solid black;*/
    height: auto;
    padding: 5px;
}

.room header {
    font-size: 2em;
    background-color: #e6e6e6;
    /*font-family: d14seg;*/
}

.current{
    padding: 10px;
    font-weight: bold;
    color: #ff0000;
    font-size: 0.9em;
    font-family: d14seg; 
    /*background-color: lightblue;  */
}

.current header{
    background-color: lightblue; 
    font-family: d14seg; 
    font-size: 0.6em;
}

.chart {
    /*border: 1px solid black;*/
    height: 200px;
}



.logo{
    display: block;
}
.logo a{
    text-decoration: none;
    color:#9d9d9d;
    font-size: 18px;
}
.logo a:hover{
    text-decoration: none;
    color:#000;
    font-size: 18px;
}

#sTime {

    color: #9d9d9d;
    /*font-family: Lato; */  
    font-family: d14seg; 
    top: 18px;
    position: relative; 
    left: 32%;
}
.gauge{
    color: #666666;
    font-weight: bold;
    font-size: 0.9em;
}
#CurrentTemp1, #CurrentTemp2, #CurrentLight1, #CurrentLight2{
    display: block;
    margin: 0 auto;
    width: 100px; 
    height: 100px;
}
