@font-face {
    font-family: Lato;
    src: url(Lato-Regular.woff);
}


 #top-brand {
    position: absolute;
    left: 50%;
    margin: 6px 0px 0px -32.5px;
    background: url("../images/logo.png");
    background-repeat:no-repeat;
    display:block;
    margin-top:-50px !important;
    padding: 0;
}


 .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
    
    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #f2f2f2;
      padding: 25px;
    }
    
.carousel-inner img {
      width: 100%; /* Set width to 100% */
      margin: auto;
      min-height:200px;
  }

nav>li>a:hover {
    color: #000;
    background-color: transparent;
}

.navbar-inverse .navbar-nav>li>a {
    color: #9d9d9d;
    font-size: 1.8em;
    margin-top: 50px;
}

#top-brand li{    
    margin-top: 0px;
}

.navbar-inverse .navbar-nav>li>a img{
    color: #9d9d9d;
    font-size: 2em;
    margin-top: -50px;
}

.navbar-toggle {
    background-color: #000;
}

.row{
    font-size: 1.4em;    
}

p{
    font-size: 1.2em;
}

.h3, h3{
    font-size: 2em;
}

hr{
    border-bottom: 1px solid #ddd;
    width: 100%;
}
.btn{
    font-size: 1.4em;
}

.logo{
    display: block;
}

.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
    display: inline-block;
    max-width: 100%;
    height: auto;
}


  /* Hide the carousel text when the screen is less than 600 pixels wide */
  @media (max-width: 600px) {
    .carousel-caption {
      font-size: 2em;
    }
      
   

  }
@media (max-width: 760px) {
   .navbar-inverse .navbar-nav>li>a {
        color: #9d9d9d;
        font-size: 1.4em;
        margin-top: 0px;
    }
    
   .navbar-inverse .navbar-nav>li>a img {
    color: #9d9d9d;
    font-size: 2em;
    margin-top: -100px;
    display: none;
    }
}


.navbar .navbar-nav {
    display: inline-block;
    float: none;
    background-color: #fff;
}

.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover {
    color: #000;
    background-color: transparent;
}

.navbar .navbar-collapse {
    text-align: center;
}

#myCarousel{
    position: relative;
    width: 100%;
    
}

.carousel-caption {
    position: absolute;
    font-size: 4em;
    /*right: 15%;
    bottom: 50px;
    left: 15%;*/
    top: 50%;
    z-index: 10;
    /* padding-top: 20px; */
    padding-bottom: 20px;
    color: white;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
}



body{
	font-family: Lato;

}

.f{
	float: right;
}
